* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.initial {
  background-color: hsl(209deg, 100%, 49%);
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron {
  height: 350px;
}

.jumbotron img {
  width: 100%;
  height: 100%;
}

