* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.initial {
  background-color: hsl(209deg, 100%, 49%);
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron {
  height: 350px;
}

.jumbotron img {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  color: white;
  overflow: hidden;
}

.logo-footer img {
  width: 100%;
  margin: -50px 0;
}

.link-list {
  display: flex;
}

.link-list li {
  list-style-type: none;
  padding: 5px 0;
}

.link-list li a {
  color: white;
  text-decoration: none;
}

.link-list li a:hover {
  text-decoration: underline;
}

.link-list .content-list {
  padding: 20px 30px;
}

.link-list .content-list h3 {
  padding: 15px 0;
}

.social-footer {
  background-color: hsl(240deg, 1%, 19%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.but-foot button {
  color: white;
  border: 2px solid hsl(209deg, 100%, 49%);
  padding: 10px 15px;
  background-color: hsl(240deg, 1%, 19%);
  margin-right: 240px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.icon-social {
  display: flex;
  align-items: center;
}

.icon-social h3 {
  color: hsl(209deg, 100%, 49%);
  padding: 0px 20px;
}

.icon-social img {
  padding: 0px 10px;
}

.icon-social img:hover {
  cursor: pointer;
  opacity: 0.7;
}

