.initial{
    background-color: hsl(209deg 100% 49%);
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}

.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jumbotron{
    height: 350px;
    img {
            width: 100%;
            height: 100%;
        }

}


